{% extends 'notes/base.html' %}
{% block title %} ShareNotesOnHaste {% endblock %}

{% block main %}
        <div class="container">
            <div class="card text-center" style="margin-top:30px;">
                    <form action="{% url 'SaveNote' %}" method="post">{% csrf_token %}
                <div class="card-body">
                    <h5 class="card-title">Add new note</h5>
                    <p class="card-text"><textarea name="note" placeholder="Enter Note..."></textarea></p>
                    <input type="submit" class="btn btn-primary"> </input>
                    <a href="{% url 'index' %}" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}