
#container {
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.note-grid {
    background-color: #343a40 !important;
    font-size: 15px;
    margin: 15px;
    padding: 10px 10px 55px 10px;
    width: 200px;
    height: 200px;
    position: relative; 
}

.note-grid:hover {
    background-color: #343a40 !important;
    font-size: 23px;
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: auto;
    overflow: visible;
}

form {
    background-color: #f8f9fa !important;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 15px;
    overflow: hidden;
    border: 1px solid black;
}

textarea, textarea:focus {
    border: none;
    background-color: #f8f9fa !important;
    outline: 0;
    width: 90%;
    border-bottom: 2px solid black;
    resize: none;
}

p {
  top: -8px;
  border-top: 0.5px solid white !important;
  padding-top: 5px;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify; 
  color: rgb(255, 255, 255);
  position: relative;
  display: block;
}

a:link, a:visited {
  position: relative;
  text-align: right;
  text-decoration: none;
  background-color: #343a40 !important;
  color: white;
  display: block;
  right: -9px;
  top: -9px;
  font-size: 15px;
}

a:hover, a:active {
  text-decoration: none !important;
  color: white !important;
}

