
body {
  max-height: 95vh;
}

#body-container {
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.note-grid, .note-grid:hover {
    background-color: #343a40 !important;
    font-size: 15px;
    margin: 12px;
    padding: 10px;
    width: 18%;
    height: 33vh;
    position: relative; 
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
} 

/* for mobile phones */
@media only screen and (max-width: 600px) {

  .note-grid, .note-grid:hover, form {
    width: 30% !important;
    height: 23vh !important;
    font-size: 11px !important;
  }

  textarea, textarea:focus {
    font-size: 13px !important;
  } 

  button {
    height: 25% !important;
    font-size: 13px !important;
    clear: both;
    padding: 2px 2px 4px 2px !important;
  }
}
/*
.note-grid:hover {
    font-size: 23px;
    margin: 5px;
    padding: 10px;
    width: 25%;
    height: auto;
    overflow: visible;
    z-index: 2;
}

*/

form {
    background-color: #f8f9fa !important;
    width: 18%;
    height: 33vh;
    margin: 12px;
    padding: 15px;
    overflow: hidden;
    border: 1px solid black;
}

textarea, textarea:focus {
    border: none;
    background-color: #f8f9fa !important;
    outline: 0;
    width: 90%;
    height: 75%;
    border-bottom: 2px solid black;
    resize: none;
}

p {
  top: -8px;
  border-top: 0.5px solid white !important;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  position: relative;
  display: block;
  clear: both;
}

.delx:link, .delx:visited {
  position: relative;
  text-align: right;
  text-decoration: none;
  background-color: #343a40 !important;
  color: white;
  display: block;
  right: -9px;
  top: -9px;
  font-size: 15px;
}

.delx:hover, .delx:active {
  text-decoration: none !important;
  color: white !important;
  font-weight: bold;
}

footer {
  position: relative;
  left: 0;
  bottom: 0 !important;
  width: 100%;
  height: 10%;
  padding: 20px;
  background-color: black !important;
  color: white !important;
  text-align: center;
  font-size: 0.7rem;
  clear: both;
}

i {
  color: white;
}


