
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 50px;
  grid-template-areas: "hd"
                       "main"
                       "ft";
}

@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
  }
  50% {
    opacity: 0.8;
    height: 70%;
  }
  75% {
    opacity: 0.7;
    height: 40%;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

header {
  background-color: black !important;
  color: white !important;
  text-align: center;
  grid-area: hd;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

header a:hover {
  border-radius: 0.5em;
  background-color: white;
  color: black !important;
}

#body-container {
    grid-area: main;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Palatino !important;

}

.input-form {
    background-color: #f8f9fa !important;
    width: 18%;
    height: 33vh;
    margin: 7px;
    padding: 13px;
    overflow: hidden;
    border: 1px solid black;
}

.input-form textarea, textarea:focus {
    border: none;
    background-color: #f8f9fa !important;
    outline: 0;
    width: 90%;
    height: 21vh;
    border-bottom: 2px solid black;
    resize: none;
}

.note-grid, .note-grid:hover {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 13px auto 10px;
  grid-template-areas: "btns"
                       "para"
                       "expand";
  background-color: #343a40 !important;
  font-size: 15px;
  margin: 7px;
  padding: 10px;
  width: 18%;
  height: 33vh;
  position: relative;
  overflow: hidden;
} 


/*

.note-grid:hover {
    font-size: 23px;
    margin: 5px;
    padding: 10px;
    width: 25%;
    height: auto;
    overflow: visible;
    z-index: 2;
}

*/

.note-grid p {
  grid-area: para;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-top: 0.5px solid white !important;
  padding-top: 3px;
  color: rgb(255, 255, 255);
  position: relative;
}

.btn-group {
    grid-area: btns;
    margin: -1vh 4vw 0vh 4vw;
}

a.btn {
    font-size: 10px !important;
    padding: 0.3vh 0vw 2vh 0vw !important;
    background-color: #343a40 !important;
    border: 0.7px solid white !important;
    color: white !important;
}

.btn-edit:hover, .btn-reply:hover, .btn-expand:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;

}

.btn-close:hover {
  background-color: red !important;
  color: black !important;
  border: 1px solid white !important;
}

footer {
  grid-area: ft;
  position: relative;
  left: 0;
  bottom: 0 !important;
  width: 100%;
  padding: 20px 20px 20px 20px;
  background-color: black !important;
  color: white !important;
  text-align: center;
  font-size: 0.7em;
}

footer i {
  color: white;
}


/* for mobile phones */

@media only screen and (max-width: 900px) {

  #body-container {
    min-height: 80vh !important;
  }

  footer {
    height: 10vh;
    padding-top: 40px;
  }

  .note-grid, .note-grid:hover, .input-form {
    width: 29% !important;
    height: 17vh !important;
    margin: 5px;
    padding: 7px;
  }

  .note-grid p {
    top: -0.5vh;
    font-size: 9px !important;
  }

  .input-form textarea, textarea:focus {
    position: relative;
    font-size: 11px !important;
    height: 10vh !important;
  } 

  button.submit {
    position: relative;
    height: 1vh !important;
    font-size: 10px !important;
    clear: both;
    margin-top: -1.5vh;
    text-align: center;
    padding: 0.5vh 2vw 3.0vh 2vw !important;
  }

  .btn-group {
    margin: -0.7vh -0.5vw 0vh 65% !important;
  }

  a.btn {
    padding: 0.3vh 0.5vw 1.0vh 0.5vw !important;    
    font-size: 5px !important;
    height: 1.5vh !important;
    border: 0.4px solid lightgrey !important;
  }
}
