{% extends 'notes/base.html' %}
{% block title %} ShareNotesOnHaste {% endblock %}

{% block main %}
        <div id="body-container">
        	<div class="input-form">
	            <form action="{% url 'SaveNote' %}" method="POST">
	                {% csrf_token %}
	                <textarea id="new-note" wrap="hard" name="note" draggable="false" placeholder="Enter Note..."></textarea>
	                <button class="btn btn-dark submit" type="submit">Add note</button>
	            </form>
        	</div>
        {% for Notes in object_list %}
            <div class="note-grid">
            	<div class="btn-group btn-group-sm" role="group">
            		<a onclick="alert('expand: Coming soon');" class="btn btn-expand"><i class="fas fa-expand-arrows-alt"></i>
					<a onclick="javascript:alert('Reply: Coming soon');" class="btn btn-reply"><i class="fas fa-reply"></i></a>
					<!-- <a class="btn btn-edit" onclick="editNote(this)"><i class="fas fa-pen"></i></a> -->
					<a onclick="javascript:alert('Edit: Coming soon');" class="btn btn-edit"><i class="fas fa-pen"></i></a> 
					<a href="{% url 'DeleteNote' Notes.id %}" class="btn btn-close" onclick="javascript:this.parentElement.parentElement.remove();"><i class="fas fa-trash-alt"></i></a>
				</div>
                <p>{{ Notes }}</p>
            </div>
        {% endfor %}
        </div>
{%endblock%}